# Security
.env

# Large Data Files & Databases
*.csv
*.db
*.sqlite3
data/

# Python Virtual Environment
Lib/
Scripts/
Include/
etc/
share/
pyvenv.cfg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
__pycache__/